@import url(./__place/places__place.css);
@import url(./__title/places__title.css);
@import url(./__url-block/places__url-block.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__link/places__link.css);

@import url(./__image/places__image.css);

@import url(./__text-block/places__text-block.css);
@import url(./__paragraph/places__paragraph.css);

.places {
  margin: 0 auto 92px;
  max-width: 984px;
  padding: 0 48px;
  list-style-type: none;
  display: grid;
  grid-template-rows: auto;
  gap: 80px;
}


@media screen and (max-width: 860px) {
  .places {
    padding: 0 24px;
    margin: 0 auto 88px;

  }
}


@media screen and (max-width: 760px) {
  .places {
    padding: 0;
    gap: 48px;
    margin: 0 auto 64px;
  }
}
