
.cover__subtitle {
  display: block;
  max-width: 360px;
  margin: 0;
  font-family: Inter, 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: center;
}



@media screen and (max-width: 540px) {
  .cover__subtitle {
    font-size: calc(100vw / 30);
    width: calc(20em);
    line-height: 109%;
    /* or 109% */
  }
}

@media screen and (max-width: 420px) {
  .cover__subtitle {
    font-size: 14px;
    width: 280px;
    line-height: 16px;
    /* or 114% */
  }
}
