
.languages__link {
  width: 30px;
  margin: 18px 0 6px 18px;
  font-family: Inter, 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .languages__link {
    font-size: 18px;
    line-height: 24px;
    margin: 14px 0 4px 18px;
  }
}
