

.footer__links {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 18px;
  grid-auto-flow: column;
  list-style-type: none;
}


@media screen and (max-width: 500px) {
  .footer__links {
    grid-auto-flow: row;
    gap: 32px;
    margin: 0 0 48px;
  }
}
