@import url(./__image/cover__image.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);


.cover {
  margin: 0 auto 92px;
  width: 100%;
  max-width: 1184px;
  height: calc(100vw / 1.6);
  max-height: 740px;

  text-align: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}


@media screen and (max-width: 768px) {
  .cover {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 0 auto 64px;
  }
}
